.contact {
  display: grid;
  grid-template-columns: 4.5rem repeat(2, minmax(auto,10rem));
  gap: var(--spacing-md);
  justify-content: center;
  align-items: start;
  padding: var(--spacing-sm) var(--spacing-xs);
  border-radius: var(--border-radius);
  background-color: #FFFFFF;
}

.contact:hover {
  filter: brightness(95%);
}

.contact__favorite {
  justify-self: end;
  margin-top: calc(var(--spacing-xs) / 2);
}

.contact__info > :first-child {
  font-weight: 600;
}
p {
  margin: 0;
}